:root {
    --cell-side: 100px;
    font-size: 20px;
}

#scoreContainer {
    display: none;
}

#board {
    position: relative;
    border: black solid 1px;
}

#current-position {
    width: var(--cell-side);
    height: var(--cell-side);
    background: red;
    position: absolute;
}

#path-container, #cell-container, #operator-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.path-piece {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.cell {
    box-sizing: border-box;
    position: absolute;
    width: var(--cell-side);
    height: var(--cell-side);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.final-cell {
    border: yellow solid 8px;
}

.operator {
    position: absolute;
    width: calc(var(--cell-side) / 2);
    height: calc(var(--cell-side) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.visited {
    background: rgba(255, 0, 0, 0.2);
}